<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <title>Chat Login</title>
    <script src="Chat.js"></script>
</head>
<body>
 <table>
        <tr>
            <td>Mensaje</td>
            <td><input type="text" name="mensaje" size ="100"  id="mensaje"/></td>
        </tr>
        <tr>
            <td>Para que usuario</td>
            <td><input type="text" name="user_to" id="user_to" /></td>
        </tr>
        <tr>
            <td colspan="2">
               <button onclick="sendMessage()"> ENVIAR</button>
            </td>
        </tr>
    </table>

</body>
</html>